<h1 class="titre" id="haut">Dico-Métiers</h1>
  <div class="container" *ngIf="!dicoMetiersValide">
    <div class="item">
      <h2>Contexte</h2>
    </div>
    <div class="item">
      <h2>Objectif</h2>
    </div>
    <div class="item">
      <h2>Résultat</h2>
    </div>
  </div>
<div class="bouton">
  <button *ngIf="!dicoMetiersValide&&heroValide&&!select" mat-raised-button (click)="listFicheMetierClient()">Démarrez <mat-icon class="icon">send</mat-icon></button>
</div>

<div class="explication" *ngIf="select||dicoMetiersValide">
  <h3>DICO-METIERS : EXPLORATION DES METIERS </h3>
  <p>Vous allez explorer la liste de métiers ressortie du test PRAICO.</p>
  <p>Le Dico-Métiers se présentent par domaines professionnels.</p>
  <p>Découvrez pour quels métiers vous êtes fait.</p>
  <p>Mettez un cœur rose devant le métier que vous aimez.</p>
</div>



   <div class="carousel slide" data-ride="carousel" *ngIf="dicoMetiersValide||select" >
    <div class="carousel-inner " >
      <a class="active" (click)="clic()">
        <img class="photoFicheMetier1" [src]="photoCarrousel" >
      </a>
      <label>{{metierDico}}</label>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" (click)="page('-')" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" *ngIf="idCarrousel>0"></span>
      <span class="sr-only" >Previous</span>
    </a>
    <a class="right carousel-control" (click)="page('+')" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" *ngIf="idCarrousel<listImageFicheMetier.length-1"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container" *ngIf="selecMetier">
       <table class="table table-hover" >
      <thead>
      <tr>
        <th>Métier</th>
        <th>Sélection</th>
      </tr>
      </thead>
      <tbody *ngFor="let m of listDesMetierSelect"  >
      <tr >
        <td (click)="selectFicheMetier(m.ficheMetier.id)">{{m.ficheMetier.metier}}</td>
       <td *ngIf="!m.etat" > <mat-icon class="icon"  (click)="changeColor(m.ficheMetier.id)" [style.color]="colorNewText">favorite</mat-icon>{{m.ficheMetier.id}}</td>
       <td *ngIf="m.etat"> <mat-icon class="icon"  (click)="changeColor(m.ficheMetier.id)" [style.color]="colorNewText2">favorite</mat-icon>{{m.ficheMetier.id}}</td>
      </tr>
      </tbody>
    </table>
  </div>


<div class="containerfiche" *ngIf="FicheMetier &&selectFicheMetierValide" >

  <div class=" item photo1">
    <img class="photoFicheMetier" [src]="photoCarrousel">
    <h1 class="fiche">{{metier}}</h1>
  </div>
  <div class="item texte">
    <p>{{texte}}</p>
  </div>

  <div class="item texte ">
    <h2>Compétences requises :</h2>
    <ul *ngIf="competences" >
      <li  *ngFor="let c of competences ">
        <p>{{c}}</p>
      </li>
    </ul>
  </div>

  <div class="item texte">
    <h2>Eléments de personnalité :</h2>
    <ul *ngIf="qualites" >
      <li  *ngFor="let q of qualites ">
        <p>{{q}}</p>
      </li>
    </ul>
  </div>

</div>
