<h1 class="titre">Héro Héroïne</h1>
<div *ngIf="!heroValide">
<div class="container">
  <div class="item">
    <h2>Contexte</h2>
  </div>
  <div class="item">
    <h2>Objectif</h2>
  </div>
  <div class="item">
    <h2>Résultat</h2>
  </div>
</div>
<div class="bouton">
  <button mat-raised-button *ngIf="qcm4Valide">Démarrez <mat-icon class="icon">send</mat-icon></button>
</div>
<h2>HERO/HEROÏNE</h2>
<p>Découvrez vos valeurs, celles qui vous donnent envies de vous lever tous les matins et qui vous font vibrer !</p>

<div class="container">
  <img [src]="photoHero">
</div>
<p>Et si vous étiez un héros / une héroïne, qui seriez-vous ? Vous pouvez vous inspirez de personnages de films,
  de livres, de mangas…</p>
<div class="container">
  <p  [formGroup]="formHero" >
    <mat-form-field appearance="standard">
      <input matInput type="text" formControlName="hero" class="form-control" placeholder="Qui seriez-vous ? ">
      <mat-icon matSuffix class="iconHero ">sentiment_very_satisfied</mat-icon>
      <mat-hint class="motHero">Héro-Héroîne</mat-hint>
    </mat-form-field>
  </p>
</div>
  <P>Quelles sont les valeurs qui ont motivées ce choix ?Qu’est ce qui est important pour vous dans le vie ?</P>
<div class="container">
  <mat-radio-group aria-label="Select an option" *ngFor="let valeurs of listValeurHero">
    <mat-checkbox value="{{valeurs.valeur}}"  (change)="onChange($event)" >{{valeurs.valeur}}</mat-checkbox>
  </mat-radio-group>
  <button class="btn btn-success" (click)="saveHero()">Valider</button>
  <p>{{message}}</p>
</div>
</div>
<div *ngIf="heroValide">

  <p> Vous avez choisi:&nbsp;{{resultatHero.choixHero}}</p>
  <p>Liste de valeurs qui ont motivées ce choix:</p>
  <ul *ngFor="let valeur of resultatHero.valeur">
    <li class="motHero">{{valeur}}</li>
  </ul>
</div>
<button class="btn btn-success" routerLink="/BnDeamTest">Retour au tests</button>
