<div *ngIf="!qcm4Valide">
  <h1 class="titre" id="haut">PRAICO</h1>
  <div class="container" >
    <p><a (click)="contexte()">Contexte</a>&nbsp;/&nbsp;<a  (click)="objectif()">Objectifs</a>&nbsp; /&nbsp;<a  (click)="process()">Process</a></p>
    <div class="item" *ngIf="contexteValide"  id="contexte">
      <div class="button-container">
        <button mat-mini-fab color="warn" (click)="contexte()" >
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <h2  >Contexte</h2 >
      <b>Bienvenue dans Praico et découvrez votre ADN Vocationnel</b>

      <p>La <b>méthode Photolangage</b> est utilisé dans des approches différentes de l’action humaine
        et du travail d’accompagnement : animation, éducation, formation, aide, soin et thérapie.
        Mobilisant l’imaginaire, les photographies présentées vont faciliter la prise de conscience par chacun d’entre vous.
        Elles sont choisies pour leur puissance suggestive, leur qualité esthétique et leur valeur symbolique.
        Alors que la majorité d’entre elles renvoient à des situations de la vie quotidienne où se jouent les différentes
        composantes de notre vie, d’autres photographies plus symboliques peuvent permettre d’exprimer par association
        ou par métaphore différents aspects de l’expérience de chacun.
      </p>

    </div>
    <div class="item" *ngIf="objectifValide"  id="objectif">
      <div class="button-container">
        <button mat-mini-fab color="warn" (click)="objectif()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <h2  >Objectifs</h2>
      <p>Dans le cadre de votre bilan et votre réflexion sur votre état d’être, nous vous proposons de réaliser un
        exercice de photolangage qui va vous permettre de vous exprimer avec un autre moyen que la parole sur votre
        ressenti actuel et sur ce vers quoi vous aspirez. La méthode Photolangage cherche à favoriser les processus
        associatifs, c’est-à-dire la mise en marche de l’activité de liaison et de symbolisation. C’est un moyen de
        passer au dessus des phrases déjà toutes construites pour y intégrer du symbolique et du « ressenti » dans le message.</p>
      <p>La photographie est ici un objet médiateur, qui invite votre imaginaire et vous permet de vous projeter sur la
        suite de votre parcours de manière positive pour réaliser le meilleur choix en phase avec votre état d’être projectif. </p>
    </div>
    <div class="item"   *ngIf="processValide"  id="process">
      <div class="button-container">
        <button mat-mini-fab color="warn" (click)="process()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <h2 >Process</h2>
      <h4>1ère étape :</h4>
      <p>Il s’agit de choisir <b>3 images qui représentent la situation actuelle</b> pour vous parmi la liste des photos qui
        défileront sous vos yeux. Les 3 photos sélectionnées s’afficheront en dessous automatiquement.</p>
      <p>Prenez au moins 10 minutes environ pour faire cet exercice.</p>
      <h4>2ème étape :</h4>
      <p>Il s’agit de choisir à nouveau <b>3 images sur votre situation future</b>, votre situation idéale
        (personnelle et professionnelle). Vous allez faire défiler la liste des photos avant de sélectionner celles qui
        vous correspondent le mieux. Les 3 photos sélectionnées s’afficheront automatiquement.</p>
      <h4>3ème étape :</h4>
      <p>Pour chacune des photos choisies, vous donnerez <b>un titre</b> et <b>expliquerez pourquoi vous l’avez choisi</b>.
        Qu’est-ce que vous voyez sur cette image, quelle interprétation vous lui donnez et quel sens cela prend dans
        votre vie. </p>
      <p>Voici <b>quelques exemples d’images avec leurs analyses</b> pour vous donner une idée de la manière d’exploiter
        / interpréter les photos choisies</p>
      <h4>Par exemple sur la situation actuelle :</h4>

      <div class="depart">
        <img [src]="" class="image1">
        <p>Titre : « Nouveau départ »</p>
        <p>Mots associés : « Changements, questionnements »</p>
        <p>Sur cette image, on observe un homme de dos et de face sur deux plans. Les deux plans se confondent. Sur l’un
          d’eux, l’homme de dos, regarde le ciel, tout est épuré, tandis que sur l’autre plan, le même homme est de face
          et il avance sur un rail de chemin de fer et semble quitter la ville et sa pollution. M. X se retrouve dans cette
          photographie et dans ce personnage. Il ressent aujourd’hui l’envie d’avancer, de s’enrichir personnellement et
          professionnellement. L’homme de dos évoque le questionnement, il regarde les nuages, comme s’il rêvait à autre
          chose. Il peut ressentir des doutes mais il regarde l’avenir et vers son rêve. L’homme de face est en action,
          il marche vers son rêve et il quitte un lieu sans couleur et pollué. Symboliquement, cette photographie représente
          le passage dans lequel est M. X. Il se questionne et regarde vers l’avenir et souhaite faire le choix d’avancer
          et d’initier du changement dans sa vie.</p>
      </div>

      <h4>Ou encore :</h4>
      <div class="entendre">
        <img [src]="" class="image2">
        <p>Titre : « Ne plus entendre» </p>
        <p>Mots associés : Fatigue morale »</p>
        <p>On retrouve sur cette image une femme, visiblement dans un environnement professionnel, qui ferme les yeux et
          se bouchent les oreilles. Elle coupe tout moyen d’entrer en communication avec elle et toute entrée d’information.
          Ce qu’a voulu mettre en avant Mme A sur cette image est un ressenti sur son travail. Elle exprime le désir de se
          couper, de ne plus entendre toutes les situations difficiles exposées par les jeunes. Etre effectivement en
          permanence confronté à des problèmes et cas difficiles est difficile à gérer. Pour agir, il faut se sentir solide
          et armé. Mme A se questionne sur cela car elle a la sensation d’être impactée par les ressentis des jeunes et
          quand elle finit sa journée, elle peut encore ressentir de la préoccupation.</p>
      </div>

      <h4>Et ensuite, sur la situation future, par exemple :</h4>

      <div class="ancrage">
        <img [src]="" class="image1">
        <img [src]="" class="image1">
        <p>Titre : « Ancrage»</p>
        <p>Mots associés : Fatigue morale »</p>
        <p>La première photographie représente une jeune femme, les bras ouvert, en parfaite harmonie et en bien-être total.
          C’est ce vers quoi tend Mme B, renouer avec du sens sur son lieu de travail et être dans un bien-être. La deuxième
          photographie, intéressante à placer à côté de la première représente un arbre, sculpté, mais lui aussi avec cette
          sensation qu’il tend les bras, ouverts, et il respire. Les deux positions du corps se ressemblent. L’idée de ce
          mouvement est la liberté, le bien-être, le lâcher prise. L’arbre représente la force, la solidité de l’ancrage.
          Même s’il se met en mouvement, ses bases sont solides. Mme B métaphorise donc le fait qu’elle souhaite se mettre
          en marche, qu’elle ressent la force à l’intérieur d’elle pour initier le changement, mais qu’elle doit aussi
          solidifier sa force et son projet pour le mener à terme.</p>
      </div>

      <div class="envie">
        <img [src]="" class="image5">
        <p>Titre : « L’envie »</p>
        <p>Mots associés : «Réussite au travail ».</p>
        <p>Sur cette photographie on observe une femme, visiblement sur son lieu de travail, qui regarde vers le bas d’une
          balustrade. Elle sourit. Mme X aspire à ce sentiment de satisfaction. Le fait que la jeune femme regarde vers le bas
          symbolise pour Mme X le fait de regarder tout son parcours et d’être fière de tout ce qu’elle a accompli. La jeune femme
          regarde également vers le futur, comme Mme X, qui a toujours cette envie d’apprendre d’avantage et de progresser.
          La femme est fière de ce qu’elle a fait et Mme X a également envie d’être fière de qu’elle fera. Elle aspire à avoir
          ce regard bienveillant et fier sur son parcours. </p>
      </div>

      <div class="envol">
        <img [src]="" class="image6">
        <p>Titre : « L’envol»</p>
        <p>Mots associés : « Sereine et confiante ».</p>
        <p>Cette photographie représente une femme, qui se tient en équilibre, en haut d’une montagne, face à la nature.
          Ce qui émane de cette photographie est la sérénité, ce paysage infini qui rassure.  Tout est ouvert devant elle,
          elle n’a qu’à s’élancer et elle pourra s’envoler. On sent le personnage léger et libre. Mme A explique que même si on
          ne voit pas son visage, elle la visualise avec les yeux fermés, très libre, ne faisant qu’un avec la nature.
          Elle précise aussi que tout est épuré, elle a la sensation que tout ce qui pourrait venir parasiter cet état de
          bien-être a disparu. Mme A exprime que pour en arriver à cette sérénité, il faut avoir lâché un certain nombre de
          craintes. Sur cette image tout est ouvert, il y a de très belles perspectives.</p>
      </div>
      <p><a routerLink="/bndream/photolangage" fragment="haut" >Haut de page</a></p>
    </div>
</div>
<div class="bouton">
  <button *ngIf="!qcmRun&&!qcm1Valide&&autoPortraitValide&&clientConnect" (click)="qcm()" mat-raised-button >Démarrez <mat-icon class="icon">send</mat-icon></button>
</div>

<div class="container">
  <div *ngIf="(!qcm1ValideLocal||!qcm1Valide)&&qcmRun">
  <h2>Questionnaire n°1 – Comment vous décririez-vous ? (5 minutes)</h2>
  <p>Trente propositions vont vous être présentées. Pour chacune d’entre elles, choisissez la réponse correspondante
    le plus à votre état d’esprit. Répondez de manière rapide et spontanée. Il n’y a pas de bonnes ou de mauvaises
    réponses. </p>
  <ul class="item select">
    <li class="question">{{questionnaire1.question}}</li>
    <li class="reponse" (click)="qcmClientChoix(questionnaire1.code1)" >{{questionnaire1.reponse1}}</li>
    <li class="reponse" (click)="qcmClientChoix(questionnaire1.code2)" >{{questionnaire1.reponse2}}</li>
  </ul>
    <p class="numero" >{{qcm1Id}}/30</p>

  </div>
  <div *ngIf="(qcm1ValideLocal||qcm1Valide)&&!qcm2Valide">
    <h2>Questionnaire n°2 – Quelles activités et environnements préférez-vous ? (7 minutes)</h2>
    <p>Sélectionnez par oui ou par non ce qui vous correspond le plus. Quel type d’environnement de travail aimez-vous en particulier ?</p>
    <ul class="item select">
      <li class="question">{{questionnaire2.question}}</li>
      <li class="reponse" (click)="qcmClientChoix(questionnaire2.profile)" >Oui</li>
      <li class="reponse" (click)="qcm2ClientChoix()" >Non</li>
    </ul>
    <p class="numero" >{{qcm1Id}}/60</p>

  </div>
  <div *ngIf="(qcm2ValideLocal||qcm2Valide)&&!qcm3Valide">
    <h2>Questionnaire n°3 – Quels sont vos loisirs ? (7 minutes)</h2>
    <p>Sélectionnez par oui ou par non les loisirs qui vous correspondent le plus. ?</p>
    <ul class="item select">
      <li class="question">{{questionnaire2.question}}</li>
      <li class="reponse" (click)="qcmClientChoix(questionnaire2.profile)" >Oui</li>
      <li class="reponse" (click)="qcm3ClientChoix()" >Non</li>
    </ul>
    <p class="numero" >{{qcm1Id}}/60</p>

  </div>
  <div *ngIf="(qcm3ValideLocal||qcm3Valide)&&!qcm4Valide">
    <h2>Questionnaire n°4 – Quels métiers vous attirent ? (3 minutes)</h2>
    <p>Parmi la liste des différents métiers présentés, cochez les 5 que vous pratiquez ou aimez.</p>
  <table class="table table-striped">

    <thead>
    <mat-checkbox [formControl]="initform"  (click)="init()" >Réinitialiser</mat-checkbox>
    <mat-checkbox  class="valide" *ngIf="selection==5"  (change)="qcm4ClientChoix()">Valiser</mat-checkbox>
    <tr>
      <th>Métier</th>
      <th>Selection</th>
    </tr>
    </thead>
    <tbody *ngFor="let list of qucm4">
    <tr *ngIf="list.metier">
      <td>{{list.metier}}</td>
      <td> <mat-checkbox [formControl]="form"  value="{{list.lettres}}"  (change)="onChange($event)"></mat-checkbox></td>

    </tr>
    </tbody>
  </table>

 <!--<form [formGroup]="formQcm4"  (ngSubmit)="onSaveQcm4()" >
   <label>Metier</label>
   <input formControlName="metier" class="form-control" type="text" >
   <label>lettre 1</label>
    <input formControlName="lettre1" class="form-control" type="text" >
   <label>lettre 2</label>
    <input formControlName="lettre2" class="form-control" type="text" >
   <label>lettre 3</label>
    <input formControlName="lettre3" class="form-control" type="text" ><br><br><br>

    <button class="btn btn-success " type="submit">Je valide</button>
  </form>-->
  </div>
</div>
</div>
<div *ngIf="qcm4Valide">
  <h2>Résultat:</h2>
  <p>Voici les profils qui vous correspondent le plus. Les lire vous permettra de mieux comprendre vos forces et les
    métiers adaptés à votre personnalité. Pour un bilan plus détaillé, nous vous invitons à prendre contact avec nos
    psychologues du travail. Ils sauront vous expliquer vos résultats et vous conseiller. Ils pourront également vous
    donner des informations sur les autres profils. Une occasion rêvée pour trouver le métier de vos rêves !</p>
  <div>
    <h2>Le cercle des compétences</h2>
    <p>Ce schéma permet d’observer les proximités et les oppositions entre les différents profils.
      Plus vos trois profils principaux sont proches et plus ils se renforcent entre eux.</p>
    <h3>Vous êtes dans… </h3>
    <div class="container">
      <div class="image" >
      <img  [src]="praico">
      </div>
      <div class="radar">
        <canvas baseChart
                [datasets]="radarChartData"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [chartType]="radarChartType">
        </canvas>
      </div>
    </div>
  </div>

<h4>Interprétations liées au test :</h4>
<div class="pratique" *ngIf="list[0].name=='p'||list[1].name=='p'||list[2].name=='p'">
  <div class="photo">
  <img  [src]="globe">
</div>
  <h3>LE PROFIL PRATIQUE </h3>
<p>D’après vos résultats, vous correspondez plus à un profil de type « Pratique ». Ce type de profil est plus orienté
  sur des activités dites « tangibles », avec l’utilisation d’outils et de machine.
  Vous semblez être moins attiré.e par les activités basées sur les relations humaines, telles que l’enseignement ou
  encore les soins. Vous vous sentez bien plus à l’aise dans l’action immédiate plutôt que dans la conversation.
  Par ailleurs, les échanges sociaux ne sont pas vraiment votre centre d’intérêt principal. D’ordre général, les
  autres personnes vous juge comme sincère. Vous êtes vu.e comme une personne sérieuse, pragmatique et appréciant
  les résultats directs sur vos actions. Il est important à vos yeux que votre travail soit récompensé à sa juste valeur.
  Vous appréciez la liberté d’action, faites preuve d'ambition et de contrôle sur soi.
</p>

</div>
<div class="reflexion" *ngIf="list[0].name=='r'||list[1].name=='r'||list[2].name=='r'">
<div class="photo">
  <img  [src]="refexion">
</div>
<h3>LE PROFIL RÉFLEXION</h3>
<p>D’après vos résultats, vous correspondez plus au profil « Réflexion », cela signifie que vous aimez donner du sens à
  votre environnement. Vous avez un goût certain pour la recherche et vous préférez vous orienter vers des activités
  formatrices dans lesquelles vous avez l’occasion et la possibilité d’observer des phénomènes divers et d’apprendre
  de nouvelles choses. Vous avez de bonnes compétences dans les sciences ou les mathématiques. Vous aimez avoir
  la possibilité de chercher des solutions à des problèmes par déduction ou en utilisant des stratégies.
  Vous êtes attiré.e par les tâches complexes faisant appel à la créativité et vous aimez explorer le champ des possibles.
  Savoir comment et pourquoi vous faites les choses est pour vous primordial dans la réalisation d’une tâche.  Les tâches
  administratives ou hiérarchiques ne vous passionnent donc que très peu. Vous aimez les situations laissant place à votre
  créativité, votre liberté et votre imagination.
  On dit de vous que vous êtes : analytique, complexe, critique, curieux.se, indépendant.e, intellectuel.le, précis.e,
  réservé.e, réfléchi.e, inventif.ve.
</p>
</div>
<div class="invention" *ngIf="list[0].name=='i'||list[1].name=='i'||list[2].name=='i'">
  <div class="photo">
    <img  [src]="invention">
  </div>
  <h3>LE PROFIL INVENTION</h3>
  <p>D’après vos résultats, vous correspondez à un profil « Invention ». Vous préférez les activités créatives, avec une
    grande marge de liberté dans la manière de faire. On peut vous décrire comme étant non-conformiste, ouvert.e,
    expressif.ve, introspectif.ve. Vous êtes plutôt doué.e pour tout ce qui est  artistique, qui fait appel au
    « feeling » et à l'émotion. Les activités répétitives telles que les tâches administratives vous repoussent.
    Professionnellement comme personnellement, vous êtes attiré.e par des domaines vous permettant de vous exprimer et
    de manifester vos valeurs esthétiques. Les préoccupations matérielles et financières sont plutôt secondaires à vos
    yeux. Vous êtes déterminé.e et courageux.se quand il s’agit d’atteindre votre objectif. Il se peut que vous ayez très
    tôt une vocation définie. Autrement, vous trouverez votre voie au travers des expériences que vous vivrez.
  </p>
</div>
<div class="cooperation" *ngIf="list[0].name=='c'||list[1].name=='c'||list[2].name=='c'">
  <div class="photo">
    <img  [src]="cooperation">
  </div>
  <h3>LE PROFIL COOPÉRATION</h3>
  <p>Les résultats indiquent que vous avez un profil “coopération” ; c’est-à-dire que vous avez un fort intérêt pour autrui.
    Vous êtes attiré.e par les activités d'accompagnement et d’aide à la personne. Vous voyez facilement les qualités de
    chacun. Au sein d’un groupe, vous privilégiez la communication et êtes capable de régler les problèmes par le dialogue.
    Vous avez besoin de vous sentir accepté.e par les autres et prêtez donc beaucoup d’attention à ce que l’on pense de
    vous ; comme vous voyez le meilleur de chacun, vous aspirer à toujours renvoyer la meilleure image de vous.
    Communiquer, enseigner, aider, développer et animer sont des actions pour lesquelles vous avez envie de vous investir.
    A contrario, les activités mettant en œuvre l’utilisation de matériaux, d'outils, de machines ou d'objets vous ennuient.
    De même, vous êtes bien plus attiré.e par la pratique que par la théorie ; vous avez envie de concret.
    Les principaux traits de personnalité du profil “coopération” sont : agréable, empathique, sociable, amical.e,
    généreux.se, idéaliste, patient.e, compréhensif.ve, persuasif.ve, responsable, plein de tact, chaleureux.se.
  </p>
</div>
<div class="action" *ngIf="list[0].name=='a'||list[1].name=='a'||list[2].name=='a'">
  <div class="photo">
    <img  [src]="action">
  </div>
  <h3>LE PROFIL ACTION</h3>
  <p>D’après vos résultats, vous correspondez plus au profil « Action ». Vous êtes un catalyseur pour les personnes qui
    vous entourent. Vous faites également preuve de rapidité dans la prise de décision, même si celle-ci se montre être
    risquée. Vous êtes un leader naturel, tant par votre capacité à diriger mais également à déléguer les tâches quand
    cela est nécessaire, tout en fournissant un feedback et une vérification des résultats. Vous êtes une personne de
    défi, montrant un intérêt pour les avantages matériels, la reconnaissance de vos actes et votre statue. Être payé
    en fonction de votre productivité est quelque chose qui peut vous motiver.
    Cependant, si vous ne trouvez plus de stimulation importante au sein de votre entreprise, vous êtes alors capable de
    vous désolidariser de celle-ci.
    Les activités intellectuelles ou systématiques vous rebutent souvent. La précision et les activités d'observation
    vous ennuient rapidement. Différents traits de personnalité ressortent de votre profil.
  </p>
</div>
<div class="organisation" *ngIf="list[0].name=='o'||list[1].name=='o'||list[2].name=='o'">
<div class="photo">
  <img  [src]="organisation">
</div>
<h3>LE PROFIL ORGANISATION</h3>
<p>D’après vos résultats, vous correspondez plus au profil « Organisation ». Vous êtes une personne qui aimez davantage
  les environnements de travail structurés, avec des règles et des objectifs clairs. Vous acceptez d’être dirigé.e par
  d’autres personnes et aimez avoir un retour sur votre travail. Vous semblez à l’aise avec les activités de type gestion
  et administration et exercer dans de grandes structures/organisations (compagnies d'assurance, banque, fonction publique...)
  vous correspond. Vous n’aimez pas prendre des risques et pensez que l’application de règles est la meilleure façon de
  faire les choses. Les activités répétitives ne vous font pas peur. Vous cherchez toujours à faire les choses au mieux
  et de façon organisée. Votre entourage à tendance à vous décrire comme quelqu’un de stable, permanent et fiable.
  Rigoureux.se, organisé.e, pratique, conformiste, consciencieux.se et efficace sont les principaux traits qui décrivent
  ce profil.
</p>
</div>
</div>
