<h1 class="titre">Roue de la vie</h1>
<div *ngIf="!roueVie">
  <form  [formGroup]="formRoueDeLAvie" (ngSubmit)="onSaveRoueDeLAvie()">
<div class="container">
  <div class="item">
    <h2>Contexte</h2>
  </div>
  <div class="item">
    <h2>Objectif</h2>
  </div>
  <div class="item">
    <h2>Résultat</h2>
  </div>
</div>
<div class="bouton">
  <button mat-raised-button routerLink="/BnDeamTest" *ngIf="photolangage">Démarrez <mat-icon class="icon">send</mat-icon></button>
</div>
    <div *ngIf="photolangage">
  <div *ngIf="!roueVie1" >
    <h2>1ère étape : Votre roue de la vie actuelle </h2>

    <p> Chaque cercle de la roue, représente l’indice de satisfaction. Du
      plus petit au plus grand. Indiquez un score entre 0 et 10 votre indice dans
      chacune des catégories.</p>

    <p>Pour démarrer il convient d’évaluer vos 5 domaines de vie et de savoir quelle est votre vision de l’avenir ?</p><br>
  </div>
  <div *ngIf="roueVie1 &&!roueVie2" >
    <h2>2ème étape : Votre roue de la vie souhaitée :</h2>
    <p>Imaginons, maintenant que vous ayez le pouvoir d’améliorer certains
      des secteurs de votre roue. Sur la 2ème roue, pour chacun des domaines, indiquer un score entre 0 et 10
      dans chacune des catégories qui correspondraient à votre indice de satisfaction que vous aimeriez atteindre
      pour mieux équilibrer votre vie.
    </p><br>
  </div>

  <div class="container diagramme" *ngIf="!roueVie2">
    <div class="chart">
      <canvas baseChart
              [datasets]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
      </canvas>
    </div>

<div class="formulaire" >

  <div *ngIf="!roueVie1" >

    <label>La vie personnelle </label>
  <input id="personnelle" formControlName="personnelle" class="form-control" type="text"  (change)="onChange('personnelle',$event.target.value) " >
    <label>La santé</label>
  <input id="sante" formControlName="sante" class="form-control" type="text" (change)="onChange('sante',$event.target.value)">
    <label>La famille</label>
  <input  id="famille" formControlName="famille" class="form-control" type="text"  (change)="onChange('famille',$event.target.value)">
    <label>Le professionnel </label>
  <input id="professionne" formControlName="professionne" class="form-control" type="text" (change)="onChange('professionne',$event.target.value)">
    <label>Le social</label>
  <input  id="social1" formControlName="social1" class="form-control" type="text"  (change)="onChange('social',$event.target.value)">
    <button (click)=" init()" class="btn btn-success" type="submit">Enregistrer</button>
  </div>
  <div *ngIf="roueVie1" >
    <label>La vie personnelle </label>
  <input id="personnelle2" formControlName="personnelle2" class="form-control" type="text"  (change)="onChange('personnelle',$event.target.value) " >
    <label>La santé</label>
  <input id="sante2" formControlName="sante2" class="form-control" type="text" (change)="onChange('sante',$event.target.value)">
    <label>La famille</label>
  <input  id="famille2" formControlName="famille2" class="form-control" type="text"  (change)="onChange('famille',$event.target.value)">
    <label>Le professionnel </label>
  <input id="professionne2" formControlName="professionne2" class="form-control" type="text" (change)="onChange('professionne',$event.target.value)">
    <label>Le social</label>
  <input  id="social2" formControlName="social2" class="form-control" type="text"  (change)="onChange('social',$event.target.value)">

  <button class="btn btn-success" type="submit" (click)="roueDeLaVie2()">Enregistrer</button>
  </div>

</div>

  </div>
<div class="container editor"  *ngIf="roueVie2">
  <h2>Autodiagnostic : Réfléchissez et agissez.</h2>
  <P>« La différence entre le possible et l'impossible réside dans la détermination » GANDHI</P>
  <img [src]="guandhi" class="image">
  <P>Face à ce diagnostic, vous pouvez agir pour arriver à un meilleur équilibre dans votre vie :</P>
<div *ngIf="!modifier">
  <P>1 - Ce qu’il faudrait modifier :</P>
  <div  class="contenu" >
    <ckeditor  [editor]="Editor" data="{{roueDeLaVie.qcm1}}" (change)="onChange3($event,'modifier')" ></ckeditor>
    <button (click)="editor('modifier')" class="btn btn-success" type="submit">Enregistrer</button>
  </div>
</div>
  <div *ngIf="modifier&&!arret">
    <P>2 - Ce qu’il faudrait arrêter :</P>
  <div  class="contenu">
    <ckeditor  [editor]="Editor" data="{{roueDeLaVie.qcm2}}"  (change)="onChange3($event,'arret')"></ckeditor>
    <button (click)="editor('arret')" class="btn btn-success" type="submit">Enregistrer</button>
  </div>
  </div>
  <div *ngIf="arret&&!prioriser">
    <P>3 - Ce qu’il faudrait prioriser :</P>
  <div  class="contenu">
    <ckeditor  [editor]="Editor" data="{{roueDeLaVie.qcm3}}"  (change)="onChange3($event,'prioriser')"></ckeditor>
    <button class="btn btn-success" type="submit">Enregistrer</button>
  </div>
</div>

</div>
    </div>
  </form>
</div>


<div  *ngIf="roueVie">

  <h2>Votre roue de la vie actuelle :</h2>
  <div class="container diagramme" >
    <div class="chart">
      <canvas baseChart
              [datasets]="pieChartData1"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
  <h2>Votre roue de la vie souhaitée :</h2>
    <div class="container diagramme" >
      <div class="chart">
        <canvas baseChart
                [datasets]="pieChartData2"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
        </canvas>
      </div>
</div>
  <div class="container choix">
    <div class="item"><p>Ce qu’il faudrait modifier :</p><p [innerHTML]="resultroueDeLaVie.qcm1" ></p> </div>
    <div class="item"><p>Ce qu’il faudrait arrêter :</p><p [innerHTML]="resultroueDeLaVie.qcm2" ></p> </div>
    <div class="item"><p>Ce qu’il faudrait prioriser :</p><p [innerHTML]="resultroueDeLaVie.qcm3"></p></div>
  </div>
  <button class="btn btn-success" routerLink="/BnDeamTest">Retour au tests</button>
</div>

