<h1 class="titre" id="haut">Go'n Become</h1>
<div class="selection">
  <!--<div *ngIf="questionnaires">
    <div class="pourcent0">
      <p>0%</p>
    </div>
    <mat-progress-bar class="newProgressBar"  mode="determinate" value="{{progression}}"></mat-progress-bar>
    <div class="pourcent100">
      <p>100%</p>
    </div>
  </div>-->
  <div class="clic">
    <button class="contexte" (click)="contexte()">Contexte</button>
    <button class="objectif" (click)="objectif()">Objectifs</button>
    <button class="process" (click)="process()">Process</button>
  </div>
</div>
<div class= etiquettes>
  <div class="imageN">
    <img class="imgProjet" routerLink="/gonbecome/newCv" fragment="haut" [src]="cvImg"/>

    <div class="projet cv">
      <p> Faire son CV</p>
    </div>
  </div>

       <div class="imageN">
        <img class="imgProjet" routerLink="/gonbecome/entretien" fragment="haut" [src]="entretienImg"/>

      <div class="projet entretien">
          <p >Réussir un entretien</p>
        <p >d’embauche</p>
        </div>
       </div>
  <div class="imageN">
    <img class="imgProjet" routerLink="/gonbecome/reseau" fragment="haut" [src]="reseauImg"/>

    <div class="projet">
      <p >Créer son réseau</p>
    </div>
  </div>
  <div class="imageN">
    <img class="imgProjet" routerLink="/gonbecome/organisation" fragment="haut" [src]="organisationImg"/>

    <div class="projet organiser ">
      <p >S’organiser</p>
    </div>
  </div>
  <div class="imageN">
    <img class="imgProjet" routerLink="/gonbecome/formation" fragment="haut" [src]="estimeImg"/>

    <div class="projet estime">
      <p >Exercies estime de soi</p>
    </div>
  </div>

  <div class="imageN">
    <img class="imgProjet" routerLink="/gonbecome/formation" fragment="haut" [src]="formationImg"/>

    <div class="projet">
      <p >Offre de formations</p>
    </div>
  </div>


  </div>


