.titre{
  margin: 50px;
  text-align: center;
  color: #3498db;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}

.bouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}
button{
  background-color:#3498db;
  color: white;
  font-size: 20px;
}
.icon{
  color: white;
}
.selection{
  width: 320px;
  margin-top: 20px;
  padding-top: 60px;
  background-color: #dfd5ce;
}
.btn{
  margin: 20px 20px 20px 50px;
}

h2{
  text-align: center;
  color:  #3498db;
  margin-top: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 50px;}

.resultat {
 margin-right: 10px;
}
.resultat li{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color:  #3498db;
}
.photo{
  position: relative;
}

.contenu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.editeur{
  width: 20%;
  height: auto;
}
.item li{
  border: 1px solid #3498db;
  text-align: center;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  cursor: pointer;
  border-radius: 20px;
}
.item li:hover{
  background-color: #3498db;
  color: white;
}
.item .valide{
  margin-top: 30px;
  background-color: green;
  color: white;
}
.item .invalide{
  margin-top: 30px;
  background-color: #3498db;
  color: white;
}
.select{
  background-color: #dfd5ce;
  width: 450px;
  margin-top: 20px;
}
.item .photo2{
float: left;
}
.image p{
  float: right;
  font-size: 20px;
  color: #ff0084;
  margin-top: 100px;
}
.image{
  background-color: #dfd5ce;
}
.select .icon{
  color: black;
}
:host ::ng-deep .ck-editor__editable_inline {
  min-width:50%;
  color: #3498db;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
}
