a{
  text-align: center;
  color: #3498db;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-decoration:none;
}
.icon{
  color: #3498db;
}
.item{
  text-align: center;
  color: green;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-decoration:none;}
.container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 align-items: center;
 justify-content: flex-start;

}

