<h1 class="titre" id="haut">B'n Beleave</h1>
<p class="selection"><a (click)="contexte()">Contexte</a>&nbsp;/&nbsp;<a  (click)="objectif()">Objectifs</a>&nbsp; /&nbsp;<a  (click)="process()">Process</a></p>
<div class="bndream" >
  <div class="label" *ngIf="contexteValide">
    <img [src]="contexteImg" class="imgcontexte">
    <h2>Contexte</h2>
  </div>

  <div class="item" *ngIf="contexteValide"  id="contexte">
    <div class="button-container">
      <button mat-mini-fab color="warn" (click)="contexte()" >
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <p><b>Allez à la découverte des métiers qui vous correspondent !</b></p>

    <p><b>B’n Beleave</b> est une étape incontournable qui fait suite à l’étape B’n Dream.</p>
    <p>Cette phase va vous aider à <b>mieux cerner vos forces</b> et vos axes d’amélioration en termes de
      <b>personnalité</b>, de <b>motivation</b> et de <b>compétences.</b></p>
    <p>A partir de tous ces éléments, vous pourrez enfin découvrir les métiers qui correspondent à votre profil en
      explorant les fiches métiers via le dico métiers et choisir les métiers dans lesquels vous pourriez vous projeter.</p>
    <p>Nous allons vous accompagner en parcourant trois étapes : <b>B’n Dream, B’n Beleave et Go’n Become.</b></p>
    <p><b>Alors commençons par le commencement !</b></p>
    <p><b>B’n DREAM :</b></p>
    <p>Cette première étape de votre bilan va vous permettre de découvrir votre ADN vocationnel et mieux vous connaitre
      pour mieux vous reconnecter à qui vous êtes.</p>
    <p><b>Nous avons une vie alors autant la vivre pleinement !</b></p>
    <p>Nous vous invitons grâce à B’N Dream à vous découvrir : vos priorités, vos sphères de vie, vos qualités,
      vos aspirations, vos centres d’intérêts, vos valeurs pour révéler votre potentiel et ainsi entrevoir les métiers
      qui vous correspondent.</p>
    <p>Cette étape vous ouvre tous les champs des possibles. Alors ne vous mettez pas de freins et
      <b>goûter au plaisir de l’infiniment possible.</b></p>
  </div>

  <div class="label" *ngIf="objectifValide">
    <img [src]="objectifImg" class="imgcontexte">
    <h2>Objectifs</h2>
  </div>
  <div class="item" *ngIf="objectifValide"  id="objectif">
    <div class="button-container">
      <button mat-mini-fab color="warn" (click)="objectif()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <ul class="liObjectif">
      <li>Mieux connaître ses potentialités, ses atouts, ses aspirations</li>
      <li>Se reconnecter à ses besoins au niveau de sa sphère privée, sociale et professionnelle</li>
      <li>Identifier les valeurs qui vous animent</li>
      <li>Découvrir ses intérêts professionnels et les métiers qui ressortent</li>
    </ul>
  </div>

  <div class="label" *ngIf="processValide">
    <img [src]="processImg" class="imgcontexte">
    <h2>Process</h2>
  </div>
  <div class="item"   *ngIf="processValide"  id="process">
    <div class="button-container">
      <button mat-mini-fab color="warn" (click)="process()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>

    <p>Durant ce premier parcours, vous allez vous découvrir en passant par 5 étapes.</p>

    <p><b>1er étape : Photolangage</b> pour faire un point sur sa situation actuelle et sa situation désirée au travers
      d’une cinquantaine de photographies.</p>

    <p><b>2ème étape : La roue de la vie</b>va vous permettre d’évaluer vos 5 domaines de vie et identifier quelle
      est votre vision de votre avenir. </p>

    <p><b>3ème étape : L’autoportrait</b>va vous aider à identifier vos qualités et vos défauts.</p>

    <p><b>4ème étape : Le test PRAICO</b>va vous permettre de découvrir votre ADN Vocationnel, vos aspirations
      professionnelles et ainsi vous aider à identifier les métiers qui correspondent à votre profil d’intérêt. </p>

    <p><b>5ème étape : Quel.le Héros / Héroïne êtes-vous ?</b>Vous allez découvrir les valeurs qui vous animent,
      celles qui vous donnent envies de vous lever tous les matins.</p>

    <h4><b>Ces 5 étapes vous ont permis de mieux vous connaître et d’identifier des pistes de métiers.</b></h4>
    <h4><b>Cette phase est incontournable avant de passer à la 2ème étape B’N Beleave !</b></h4>
  </div>
</div>
<div *ngIf="questionnaires" >
  <div id="debut"></div>
  <div class="progressTotal" >
    <img [src]="depart" class="item image" >
    <div class="item progression">
      <h2>B'n Beleave</h2>
      <mat-progress-bar mode="determinate" value="{{progression}}" class="progressBar"></mat-progress-bar><p class="pourcentAttient">{{progression}}%</p>
      <p class="pourcentMini">0%</p><br><br>

    </div>
    <img [src]="coupe" class="item image" >
  </div>
</div>

<div class="container">
  <div class="item projet">
    <p class="numro" *ngIf="!dicoMetiers">1</p>
    <p class="numro numroValide" *ngIf="dicoMetiers"><mat-icon>done_outline</mat-icon></p>
    <p class="test" *ngIf="!dicoMetiers">Test à réaliser</p>
    <p class="test testValide" *ngIf="dicoMetiers">Test validé</p>
    <a class="titreProjet" routerLink="/bnBeleave/dicoMetiers" fragment="haut">Dico-Métiers</a>
    <div class="time">
      <mat-icon>access_time</mat-icon>
      <p>20 minutes</p>
    </div>
  </div>
  <div class="item projet">
    <p class="numro"*ngIf="!porteFolio">2</p>
    <p class="numro numroValide" *ngIf="porteFolio"><mat-icon>done_outline</mat-icon></p>
    <p class="test" *ngIf="!porteFolio">Test à réaliser</p>
    <p class="test testValide" *ngIf="porteFolio">Test validé</p>
    <a class="titreProjet" routerLink="/bnBeleave/porteFolio" fragment="haut" >PorteFolio</a>
    <div class="time">
      <mat-icon>access_time</mat-icon>
      <p>20 minutes</p>
    </div>
  </div>
  <div class="item projet">
    <p class="numro"*ngIf="!profilU">3</p>
    <p class="numro numroValide" *ngIf="profilU"><mat-icon>done_outline</mat-icon></p>
    <p class="test" *ngIf="!profilU">Test à réaliser</p>
    <p class="test testValide" *ngIf="profilU">Test validé</p>
    <a class="titreProjet" routerLink="/bnBeleave/profilU" fragment="haut">Profil-U</a>
    <div class="time">
      <mat-icon>access_time</mat-icon>
      <p>30 minutes</p>
    </div>
  </div>
  <div class="item projet">
    <p class="numro" *ngIf="!projetPro">4</p>
    <p class="numro numroValide" *ngIf="projetPro"><mat-icon>done_outline</mat-icon></p>
    <p class="test" *ngIf="!projetPro">Test à réaliser</p>
    <p class="test testValide" *ngIf="projetPro">Test validé</p>
    <a class="titreProjet" routerLink="/bnBeleave/projetPro" fragment="haut">Projet Professionnel</a>
    <div class="time">
      <mat-icon>access_time</mat-icon>
      <p>20 minutes</p>
    </div>
  </div>
</div>
