<h1 class="titre" id="haut">Réussir un entretien d’embauche</h1>
<div class="selection">
  <div class="clic">
    <button class="contexte" (click)="contexte()">Contexte</button>
    <button class="objectif" (click)="objectif()">Objectifs</button>
    <button class="process" (click)="process()">Process</button>
  </div>
</div>
<div class="text">
  <p>Développer son réseau est un atout précieux pour trouver un emploi ou faire évoluer sa carrière.</p>
  <p>Nouer des contacts et entretenir ses relations demande du temps et de l’énergie.</p>
  <p>Nous vous invitons à découvrir cette petite vidéo pour vous aider à construire un bon réseau de professionnels de
    qualité, maximiser vos chances de trouver plus rapidement un travail et saisir les opportunités plus facilement. </p>
 </div>
<h4>VIDEO CREER SON RESEAU</h4>
<div class="container">
  <video width="500" height="300" controls>
    <source [src]="reseau" type="video/mp4">
  </video>
</div>

