<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head>
    <title>Watt of africa</title>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dream.css">
    <!-- css -->
    <!--font  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44fca66a73.js" crossorigin="anonymous"></script>
    <!-- font -->

    <!-- meta SEO -->
    <meta name="description" content="La description de votre site,primordial,mettre des bons mots clefs">
    <meta name="keywords" content="insertion,conseil,accompagnement">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- meta SEO -->
</head>
<!-- head -->

<!-- body -->
<body>
<!-- header -->
<div class="container">
    <div class="block"  th:insert="header.html :: header"></div></div></br>
<!-- header -->
<!-- banner -->
<div class="block">
    <div class="container">
        <div class="banner">
            <img src="img/photo1.jpg" alt="Un ordinateur" class="banner-image" style="width: 100%">
            <div class="banner-content">
                <h1 class="title is-1">Bienvenue sur Watt of africa</h1>
                <h2 class="subtitle">Découvrez l'univers de watt!</h2>
                <button class="button is-link" onclick="window.location.href='fiche'+2; return false;">Contactez-mous</button>
            </div>
        </div>
    </div>
</div>
<!-- banner -->
<!-- modal -->
<div class="modal" id="modal_to_open">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close" id="close_modal"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>

<!-- modal -->


<!-- section:à propos -->
<div class="block">
    <h2 class="subtitle heading-site">A propos</h2>
    <div class="container about">
        <div class="columns">
            <div class="column about-sigle-element">
                <i class="fas fa-code icon"></i>
                <p>
                    Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi; quod quidem, ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est, qualis res publica post mortem meam futura, quam qualis hodie sit.
                </p>
            </div>
            <div class="column about-sigle-element">
                <i class="fas fa-coffee icon"></i>
                <p>
                    Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi; quod quidem, ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est, qualis res publica post mortem meam futura, quam qualis hodie sit.

                </p>


            </div>
            <div class="column about-sigle-element">
                <i class="far fa-address-book icon"></i>

                <p>
                    Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi; quod quidem, ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est, qualis res publica post mortem meam futura, quam qualis hodie sit.

                </p>
            </div>

        </div>
    </div>


</div>


<!-- section:à propos -->

<!-- portfolio -->
<div class="block">
    <h2 class="subtitle heading-site">Mon portfolio</h2>
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification ">
                            <p class="subtitle">1er volet WATT:</p>
                            <p>Elle est destinée aux étudiants,  demandeurs d’emploi, salariés et personnes ayant un handicap qui souhaitent définir un projet professionnel, accéder au marché de l’emploi, évoluer dans leur carrière ou créer leur entreprise. </p>
                            <p>La vocation de watt est de leur permettre de s'évaluer, de se découvrir et de faciliter leur insertion sur le marché du travail et de gérer au mieux leur carrière.</p>
                            <p>Avec un focus pour les personnes ayant 1 handicap l’objectif étant de favoriser leur inclusion professionnelle et le maintien en emploi dans un continent où la politique handicap est casi inexistante :
                            </p>
                            <p>Concrètement WATTofAfrica c’est 3 modules:</p>
                            <p>1- B’nDream : Des tests et des exercices de réflexion pour découvrir votre ADN Vocationnel et mieux vous connaître.</p>
                            <p>2- B’nGo : Des informations, des conseils, des outils pour Identifier vos talents et bâtir votre projet professionnel.</p>
                            <p>3- B’nBecome : Des conseils sur mesure pour mettre en action votre projet et vous réaliser dans l’environnement dans lequel vous souhaitez évoluer.</p>
                            <p>Dans les différents modules, nous mettons à disposition en ligne gracieusement aux candidats des accès aux tests psychotechniques, des outils de développement personnel et de coaching, l’accès aux fiches métiers et aux offres d’emploi et de stage, des conseils sur les techniques de recherche d’emploi (Cv, lettre de motivation, se préparer à entretien d’embauche…), sur l’entrepreneuriat et sur les formations.</p><p>
                            Un lien payant pour bénéficier de conseils et d’un accompagnement sur mesure avec des psychologues du travail et de coachs.</p>

                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">W.A.T.T. of Africa </p>
                            <p class="subtitle">Word Ambition Talent Triumph of Africa</p>
                            <p class="subtitle">Pour que les africains triomphent par leurs talents</p>
                            <figure class="image is-4by3">
                                <img src="img/logo.jpg">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification ">
                        <p class="title">La raison d’être de WATT :</p>
                        <p>Vous l’avez compris, WATT est une plateforme incontournable pour répondre à l’essor économique de l’Afrique et satisfaire une population pleine de vitalité, jeune et diplômée et des entreprises qui veulent s’entourer de personnes compétentes et enthousiastes ; et désirant fortement s’impliquer dans l’essor de leur continent.</p>
                        <p>Ce projet a été Lauréat du Programme européen MEET Africa dans la catégorie Projet Innovant.</p>
                        <p></p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification ">
                    <div class="content">
                        <p class="title">2ème volet :</p>
                        <p class="subtitle">W.A.T.T. MATCH est destiné aux entreprises nationales et internationales</p>
                        <div class="content">
                            <p>
                                1- C’est un job board où les entreprises pourront déposer leurs offres d’emploi et de stages.</p>
                            <p> 2- Grace à WATT Match, les entreprises bénéficieront d’une sélection sur mesure de candidats qui auront été évalués au préalable sur la plateforme WATT.</p>
                            <p>3- Les entreprises pourront également bénéficier de conseils RH en visio, avoir accès à des tests psychotechniques pour les aider dans leur prise de décision de recrutement ou d’évolution de leur collaborateur (test de raisonnement, de personnalité, test de vendeur, test de communication, test de manager, test d’intelligence émotionnelle).</p>

                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- portfolio -->
<!-- formulaire -->
<div class="block">

    <footer class="footer">
        <h2 class="heading-site">Contactez-moi</h2>
        <div class="footer-contact-form">
            <form>
                <div class="field">
                    <label class="label">Votre nom</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g Alex Smith" name="name" id="name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Votre prénom</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g Alex Smith" name="firstname" id="firstname">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Votre email</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g Alex Smith" name="email" id="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Votre message</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Explain how we can help you" name="message" id="message"></textarea>
                    </div>
                </div>

            </form>
            <button class="button is-link" id="send_email">Envoyer !</button>

        </div>
            <p>10 résidence du grand cèdre</p>
            <p>37550 Saint Avertin</p>
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                </li>
            </ul>


        </div>



    </footer>
</div>


<!-- formulaire -->



<!-- scrip -->
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<!-- scrip -->
</body>

<!-- body -->
</html>
