<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!-- head -->
<head>
    <title>Watt of africa</title>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/nbDream.css">
    <!-- css -->
    <!--font  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44fca66a73.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- font -->

    <!-- meta SEO -->
    <meta name="description" content="La description de votre site,primordial,mettre des bons mots clefs">
    <meta name="keywords" content="insertion,conseil,accompagnement">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- meta SEO -->
</head>
<!-- head -->

<!-- body -->
<body>
<!-- header -->

    <div class="block"  th:insert="header.html :: header"></div><br><br>
<!-- header -->

<div class="block">
<h1 class="title"><b>B’N’DREAM</b></h1>
<!-- PHOTOLANGAGE   -->
    <p class="subtitle"><b>PHOTOLANGAGE</b></p>
</div>
    <div class="photo">
    <div class="block">
        <h5><b>Situation actuelle</b></h5><br>
    <div class="columns">
        <div class="column">
            <figure>
            <img  th:src="@{getPhoto(id=${photoLangage.getPhoto1()})}"  alt="Image" >
            </figure>
            <b th:text="${photoLangage.getMot1()}"></b>
        </div>
        <div class="column">
            <figure >
            <img  th:src="@{getPhoto(id=${photoLangage.getPhoto2()})}"  alt="Image" >
            </figure>
            <b th:text="${photoLangage.getMot2()}"></b>
         </div>
            <div class="column">
                <figure >
                <img  th:src="@{getPhoto(id=${photoLangage.getPhoto3()})}"  alt="Image" >
                </figure>
                <b th:text="${photoLangage.getMot3()}"></b>
                </div>
        </div>
    </div>
        <div class="block">
            <h5><b>Situation désirée</b></h5><br>
            <div class="columns">
                <div class="column">
                    <figure>
                        <img  th:src="@{getPhoto(id=${photoLangage.getPhoto4()})}"  alt="Image" >
                    </figure>
                    <b th:text="${photoLangage.getMot4()}"></b>
                </div>
                <div class="column">
                    <figure >
                        <img  th:src="@{getPhoto(id=${photoLangage.getPhoto5()})}"  alt="Image" >
                    </figure>
                    <b th:text="${photoLangage.getMot5()}"></b>
                </div>
                <div class="column">
                    <figure >
                        <img  th:src="@{getPhoto(id=${photoLangage.getPhoto6()})}"  alt="Image" >
                    </figure>
                    <b th:text="${photoLangage.getMot6()}"></b>
                </div>
            </div>

        </div>
</div><br>
    <!-- PHOTOLANGAGE   -->
    <div class="block">
        <p class="subtitle"><b>ROUE DE LA VIE</b></p><br>
        <div class="block">
            <div class="columns">
                <div class="column">
                <div class="text-center" >
                    <b >Votre roue de la vie actuelle:</b><br>
                    <canvas id="myChart"></canvas>
                </div>
                </div>
                <div class="column">
                <div class="text-center" >
                    <b >Votre roue de la vie souhaitée:</b><br>
                    <canvas id="myChart2"></canvas>
                </div>
                </div>
            </div><br>
        </div>
    </div>
    <div class="block">
        <h5><b>Autodiagnostic</b></h5><br>
        <b>Ce qu’il faudrait modifier:</b>
        <p th:text="${roueVieBean.qcm1}"></p><br>
        <b>Ce qu’il faudrait arrêter:</b>
        <p th:text="${roueVieBean.qcm2}"></p><br>
        <b>Ce qu’il faudrait prioriser:</b>
        <p th:text="${roueVieBean.qcm3}"></p>

    </div>
    <div class="block">
        <p class="subtitle"><b>AUTOPORTRAIT</b></p><br>
        <div class="columns">
            <div class="column">
        <ul>
            <ol><b>Qualités vu par vous</b></ol>
            <ol th:text="${autoPortraitBean.getQualite1()}"></ol>
            <ol th:text="${autoPortraitBean.getQualite2()}"></ol>
            <ol th:text="${autoPortraitBean.getQualite3()}"></ol>
        </ul><br>
        <b></b>
        <ul>
            <ol><b>Défaut vu par vous</b></ol>
            <ol th:text="${autoPortraitBean.getDefaut1()}"></ol>
            <ol th:text="${autoPortraitBean.getDefaut2()}"></ol>
            <ol th:text="${autoPortraitBean.getDefaut3()}"></ol>
        </ul>

    </div>
    <div class="column" th:if="${autoPortraitBean.getAuto1()==true}">
        <ul>
            <ol><b>Qualités vu par les autres</b></ol>
            <ol th:text="${autoPortraitBean.getQualite4()}"></ol>
            <ol th:text="${autoPortraitBean.getQualite5()}"></ol>
            <ol th:text="${autoPortraitBean.getQualite6()}"></ol>
        </ul><br>
        <b></b>
        <ul>
            <ol><b>Défaut vu par les autres</b></ol>
            <ol th:text="${autoPortraitBean.getDefaut4()}"></ol>
            <ol th:text="${autoPortraitBean.getDefaut5()}"></ol>
            <ol th:text="${autoPortraitBean.getDefaut6()}"></ol>
        </ul>
    </div>
        </div>
            <h5><b>REFLEXION</b></h5><br>
            <p th:text="${autoPortraitBean.reflexion}"></p>
    </div><br>
    <div class="block" th:if="${questionnairesBean1.qcm4==true}">
        <p class="subtitle"><b>VOTRE ADN VOCATIONNEL</b></P><br>
        <p class="subtitle"><b>TEST PRAICO</b> </p>
        <div class="praico">
        <canvas id="canvas"></canvas>
        </div>
    </div>




<div class="block">
<footer class="footer">
<div class="footer-contact-informations">
    <p><b>Watt Of Africa</b></p>
    <p>10 résidence du grand cèdre</p>
    <p>37550 Saint Avertin</p>
    <ul>
        <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-google-plus"></i></a>
        </li>
    </ul>
</div>
</footer>
</div>


<!-- scrip -->
<script th:inline="javascript">
    var SOC1 ="[[${roueVieBean.social1}]]";
    var PER1 ="[[${roueVieBean.personnelle1}]]";
    var SAN1 ="[[${roueVieBean.sante1}]]";
    var FAM1 ="[[${roueVieBean.famille1}]]";
    var RES1 ="[[${roueVieBean.professionnel1}]]";
    var SOC2 ="[[${roueVieBean.social2}]]";
    var PER2 ="[[${roueVieBean.personnelle2}]]";
    var SAN2 ="[[${roueVieBean.sante2}]]";
    var FAM2 ="[[${roueVieBean.famille2}]]";
    var RES2 ="[[${roueVieBean.professionnel2}]]";
    console.log(showtext);

</script>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ['Social', 'Vie Personnel', 'Santé', 'Famille', 'Professionnel'],
            datasets: [{
                label: 'My First dataset',

                data: [SOC1,PER1,SAN1,FAM1,RES1],

                backgroundColor: [

                    'rgba(193, 28, 199, 1)',
                    'rgba(29, 4, 255,1)',
                    'rgba(25,193 ,13, 1)',
                    'rgba(255, 213, 4, 1)',
                    'rgba(255, 4, 4, 1)',


                ],
            }]
        },

        // Configuration options go here
        options: {},
    });
</script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ['Social', 'Vie Personnel', 'Santé', 'Famille', 'Professionnel'],
            datasets: [{
                label: 'My First dataset',

                data: [SOC2,PER2,SAN2,FAM2,RES2],

                backgroundColor: [

                    'rgba(193, 28, 199, 1)',
                    'rgba(29, 4, 255,1)',
                    'rgba(25,193 ,13, 1)',
                    'rgba(255, 213, 4, 1)',
                    'rgba(255, 4, 4, 1)',


                ],
            }]
        },

        // Configuration options go here
        options: {},
    });

</script>
<script th:inline="javascript">
    var A ="[[${result.nombreA}]]";
    var C ="[[${result.nombreC}]]";
    var I ="[[${result.nombreI}]]";
    var O ="[[${result.nombreO}]]";
    var P ="[[${result.nombreP}]]";
    var R ="[[${result.nombreR}]]";
    console.log(showtext);
</script>


<script>

    var chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };

    var color = Chart.helpers.color;
    var config = {
        type: 'radar',
        data: {
            labels: [
                "Pratique", "Réfléchi", "Actif","Inventif","Coopératif","Organisé "
            ],
            datasets: [{
                label: "Résultat",
                fill: true,
                spanGaps: false,
                borderJoinStyle: "miter",
                borderCapStyle: "butt",
                backgroundColor: color(chartColors.red).alpha(0.2).rgbString(),
                borderColor: chartColors.red,
                pointBackgroundColor: chartColors.red,

                data: [P,R,A,I,C,O]
            }, ]
        },
        options: {
            legend: {
                position: 'top',
                labels: {
                    fontColor: 'white'
                }
            },
            title: {
                display: true,
                text: 'Praico-U',
                fontColor: 'white'
            },
            scale: {
                ticks: {
                    beginAtZero: true,
                    fontColor: 'white', // étiquettes telles 10, 20, etc
                    showLabelBackdrop: false //cacher le carré derrière le texte
                },
                pointLabels: {
                    fontColor: 'white' // étiquette autour du bord
                },
                gridLines: {
                    color: 'rgba(255, 255, 255, 0.2)'
                },
                angleLines: {
                    color: 'white' //lignes de rayonnant depuis le centre
                }
            },
            animation: {
                duration: 2000,
                easing: "easeOutElastic"
            },
        }
    };

    // A plugin pour la couleur du fond
    Chart.plugins.register({
        beforeDraw: function(chartInstance) {
            var ctx = chartInstance.chart.ctx;
            ctx.fillStyle = 'black';
            ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
        }
    })

    window.myRadar = new Chart(document.getElementById("canvas"), config);



</script>




<!-- scrip -->
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<!-- scrip -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Also include jQueryUI -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- scrip -->
</body>

<!-- body -->
</html>
