<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head>
    <title>Watt of africa</title>
    <meta charset="utf-8">
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <!-- css -->
    <!--font  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44fca66a73.js" crossorigin="anonymous"></script>
    <!-- font -->


    <!-- meta SEO -->
</head>
<!-- head -->

<!-- body -->
<body>
<!-- header -->
<div class="block">
    <div class="container">
        <header class="header">

            <nav class="header-menu">
                <a href="/">Accueil</a>
                <a th:if="${#httpServletRequest.remoteUser}" href="/listQuestionnaires">List des questionnaires</a>
                <a th:if="${#httpServletRequest.remoteUser}" href="form">Formulaire</a>
                <a th:if="!${#httpServletRequest.remoteUser}" href="/login">Me connecter</a>
                <a th:if="${#httpServletRequest.remoteUser}" href="/logout">Me déconnecter</a>
            </nav>

        </header>
    </div>
</div>
<!-- header -->
</body>
</html>
