<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dream.css">
    <!-- css -->
    <!--font  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44fca66a73.js" crossorigin="anonymous"></script>
    <!-- font -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8"/>
    <title>Authentification</title>
</head>

<div class="container">
    <div class="block"  th:insert="header.html :: header"></div></div></br>
<div class="container">
<div class="jumbotron">
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Test ProfilU</h4></div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getProfilU()}==false">
                <form th:action="@{question}" method="get">
                    <button class="btn btn-success" type="submit" >Questionnaires ProfilU</button>
                </form> </div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getProfilU()}==true">
                <form th:action="@{restitutionProfilU}" method="get">
                    <button class="btn btn-success" type="submit" >Restitution profilU</button>
                </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Test PraicoU</h4></div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getQcm4()}==true">
                    <form th:action="@{resultPraicoU}" method="get">
                        <button class="btn btn-success" type="submit" >Restitution Praico-U</button>
                    </form>
                </div>
                <div th:if="${questionnaire.get().getQcm1()}==false">
                <div class="text-info text-center mt-3" >
                    <form th:action="@{Qcm1}" method="get">
                        <button class="btn btn-success" type="submit" >Qcm n°1</button>
                    </form> </div>
                </div>

            <div th:if="${questionnaire.get().getQcm2()==false && questionnaire.get().getQcm1()==true} ">
            <div class="text-info text-center mt-3" >
                <form th:action="@{Qcm1}" method="get">
                    <button class="btn btn-success" type="submit" >Qcm n°2</button>
                </form> </div>
            </div>

            <div th:if="${questionnaire.get().getQcm3()==false && questionnaire.get().getQcm2()==true} ">
                <div class="text-info text-center mt-3" >
                    <form th:action="@{Qcm1}" method="get">
                        <button class="btn btn-success" type="submit" >Qcm n°3</button>
                    </form> </div>
            </div>


            <div th:if="${questionnaire.get().getQcm4()==false && questionnaire.get().getQcm3()==true} ">
    <div class="text-info text-center mt-3" >
        <form th:action="@{Qcm1}" method="get">
            <button class="btn btn-success" type="submit" >Qcm n°4</button>
        </form> </div>

</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Test Emo-U</h4></div>

                    <div class="text-info text-center mt-3" th:if="${questionnaire.get().getEmoU()==false} ">
                        <form th:action="@{questionEmoU}" method="get">
                            <button class="btn btn-success" type="submit" >Questionnaire</button>
                        </form> </div>

                        <div class="text-info text-center mt-3" th:if="${questionnaire.get().getEmoU()==true} ">
                            <form th:action="@{resultatEmoU}" method="get">
                                <button class="btn btn-success" type="submit" >Resultat</button>
                            </form> </div>
                </div>
        </div>
    <div class="col-md-3">
        <div class="card border-danger mx-sm-1 p-3">
            <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
            <div class="text-danger text-center mt-3"><h4>Test Entrepreneur</h4></div>

            <div class="text-info text-center mt-3" th:if="${questionnaire.get().getEntrepreneur()==false} ">
                <form th:action="@{questionEntrepreneur}" method="get">
                    <button class="btn btn-success" type="submit" >Questionnaire</button>
                </form> </div>

            <div class="text-info text-center mt-3" th:if="${questionnaire.get().getEntrepreneur()==true} ">
                <form th:action="@{resultatEntrepreneur}" method="get">
                    <button class="btn btn-success" type="submit" >Resultat</button>
                </form> </div>
        </div>
    </div>
</div></br>
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Test Commercial</h4></div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getCommercial()}==false">
                    <form th:action="@{questionCommercial}" method="get">
                        <button class="btn btn-success" type="submit" >Questionnaire</button>
                    </form> </div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getCommercial()}==true">
                    <form th:action="@{resultatCommercial}" method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Test Motiv-U</h4></div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getMotivU()==false} ">
                    <form th:action="@{questionMotivU}" method="get">
                        <button class="btn btn-success" type="submit" >Questionnaire</button>
                    </form> </div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getMotivU()==true} ">
                    <form th:action="@{resultatMotivU}" method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Test Com-U</h4></div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getComU()==false} ">
                    <form th:action="@{questionComU}" method="get">
                        <button class="btn btn-success" type="submit" >Questionnaire</button>
                    </form> </div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getComU()==true} ">
                    <form th:action="@{resultatComU}" method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>B’N’DREAM</h4></div>

                <div class="text-info text-center mt-3" >
                    <form th:action="@{photos}" method="get">
                        <button class="btn btn-success" type="submit" >Inserer une photo</button>
                    </form> </div>
                <div class="text-info text-center mt-3" >
                    <form th:action="@{bnDream}" method="get">
                        <button class="btn btn-success" type="submit">Questionnaire</button>
                    </form> </div>
                <div class="text-info text-center mt-3" >
                    <form th:action="@{resultatNbdream}" method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form> </div>

            </div>
        </div>

    </div>
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>TEST DE COMPREHENSION VERBALE</h4></div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getCompVerbale()}==false">
                    <form th:action="@{questionVerbale}" method="get">
                        <button class="btn btn-success" type="submit" >Questionnaire</button>
                    </form> </div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getCompVerbale()}==true">
                    <form th:action="@{resultatVerbale}" method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Test de personnalité </h4></div>
                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getPerso()}==false" >
                    <form th:action="@{questionPerso}" method="get">
                        <button class="btn btn-success" type="submit" >Questionnaire</button>
                    </form> </div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getPerso()}==true">
                    <form th:action="@{resultatPerso}"  method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Test d'orthoraphe et de grammaire </h4></div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getGrammaire()}==false" >
                    <form th:action="@{questionOrthoGram}" method="get">
                        <button class="btn btn-success" type="submit" >Questionnaire</button>
                    </form> </div>

                <div class="text-info text-center mt-3" th:if="${questionnaire.get().getGrammaire()}==true">
                    <form th:action="@{resultatOrthoGram}"  method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Test</h4></div>

                <div class="text-info text-center mt-3" >
                    <form method="get">
                        <button class="btn btn-success" type="submit">Questionnaire</button>
                    </form> </div>
                <div class="text-info text-center mt-3" >
                    <form method="get">
                        <button class="btn btn-success" type="submit" >Resultat</button>
                    </form> </div>

            </div>
        </div>

    </div>

</div>

</div>
</body>
</html>
