<div>
<h1 class="titre" id="haut">B' n Dream</h1>
<div class="bndream">
  <div class="item">
    <h2>Contexte</h2>
  </div>
  <div class="item">
    <h2>Objectif</h2>
  </div>
  <div class="item">
    <h2>Résultat</h2>
  </div>
</div>
<div class="bouton" *ngIf="authService.userAuthenticated &&!questionnaires">
<button mat-raised-button (click)="tests()" >Démarrez <mat-icon class="icon">send</mat-icon></button>
  </div>
</div>
<div *ngIf="questionnaires" >
  <div id="debut"></div>
  <div class="progressTotal" >
    <img [src]="depart" class="item image" >
    <div class="item progression">
      <h2>B'n Dream</h2>
      <mat-progress-bar mode="determinate" value="{{progression}}" class="progressBar"></mat-progress-bar><p class="pourcentAttient">{{progression}}%</p>
      <p class="pourcentMini">0%</p><br><br>
      <h4>Date de début du test: <b>Le :10/06/2020</b></h4>

    </div>
    <img [src]="coupe" class="item image" >
  </div>


  <div class="container">
    <div class="item projet">
      <p class="numro" *ngIf="!photolangage">1</p>
      <p class="numro numroValide" *ngIf="photolangage"><mat-icon>done_outline</mat-icon></p>
      <p class="test" *ngIf="!photolangage">Test à réaliser</p>
      <p class="test testValide" *ngIf="photolangage">Test validé</p>
      <a class="titreProjet" routerLink="photolangage" >Photolangage</a>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        <p>30 minutes</p>
      </div>
    </div>
    <div class="item projet">
      <p class="numro"*ngIf="!roueVie">2</p>
      <p class="numro numroValide" *ngIf="roueVie"><mat-icon>done_outline</mat-icon></p>
      <p class="test" *ngIf="!roueVie">Test à réaliser</p>
      <p class="test testValide" *ngIf="roueVie">Test validé</p>
      <a class="titreProjet" routerLink="/bndream/roue-de-la-vie" fragment="haut" (click)="serviceBream.getResultRoueDeLaVie()" >Roue de la vie </a>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        <p>40 minutes</p>
      </div>
    </div>
    <div class="item projet">
      <p class="numro"*ngIf="!autoportrait">3</p>
      <p class="numro numroValide" *ngIf="autoportrait"><mat-icon>done_outline</mat-icon></p>
      <p class="test" *ngIf="!autoportrait">Test à réaliser</p>
      <p class="test testValide" *ngIf="autoportrait">Test validé</p>
      <a class="titreProjet" routerLink="autoPortrait" >Autoportrait</a>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        <p>30 minutes</p>
      </div>
    </div>
    <div class="item projet">
      <p class="numro" *ngIf="!qcm1">4</p>
      <p class="numro numroValide" *ngIf="qcm4"><mat-icon>done_outline</mat-icon></p>
      <p class="numro numroCours" *ngIf="qcm1&&!qcm4"><mat-icon>timer</mat-icon></p>
      <p class="test" *ngIf="!qcm1">Test à réaliser</p>
      <p class="test testCours" *ngIf="qcm1&&!qcm4">Test en cours </p>
      <p class="test testValide" *ngIf="qcm4">Test validé</p>
      <a class="titreProjet" routerLink="praico">Test d’intérêt professionnel PRAICO</a>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        <p>20 minutes</p>
      </div>
    </div>
    <div class="item projet">
      <p class="numro" *ngIf="!hero">5</p>
      <p class="numro numroValide" *ngIf="hero"><mat-icon>done_outline</mat-icon></p>
      <p class="test" *ngIf="!hero">Test à réaliser</p>
      <p class="test testValide" *ngIf="hero">Test validé</p>
      <a class="titreProjet" routerLink="hero">Votre meilleure version (Héro / Héroïne)</a>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        <p>20 minutes</p>
      </div>
    </div>
  </div>

</div>


