<div class="container">
  <img [src]="photoExpert"class="photo1">
  <ul>
  <li>XXXXXX</li>
  <li>93 rue XXXX</li>
  <li>91000 – XXXXXX</li>
  <li>06 12 00 00 00</li>
  <li>zhemarid@gmail.com</li>
  <li>29 ans, mariée, 2 enfants </li>
  </ul>
  <div class="item">
  <h2>Responsable Projet Fonctionnel</h2>
  <img [src]="photoExpert2" class="photo2">
  <p>Conduire et accompagner le changement</p>
  </div>
</div>
<div class="container">
<h2>Domaines de compétences</h2>

<h4>Management</h4>
  <img [src]="photoExpert3" class="photo3">
  <p><b>Mobilisation, motivation, développement, contrôle</b> : Mise en place de points face à face réguliers, animation des
    réunions de service, animation des entretiens individuels, repositionnement d’un service  support au service
    de ses clients.</p>
  <p><b>Gestion de la performance</b> : Mise en place de tableaux d’activité (usine visuelle).</p>
  <p><b>Animation d’équipe</b> service ou projet (15 personnes Ingénieurs techniciens assistantes).</p>
  <p><b>Gestion de projet et d’activité du service</b> : Définir les priorités d’action et d’allocation
   des moyens, des ressources dans le respect des délais.
   Cas concret : Changement des outils informatiques qualité (480 personnes impactées)</p>

  <h4>Conduite et accompagnement du changement</h4>
  <img [src]="photoExpert4" class="photo3">
  <p><b>Analyse des processus</b> avant et après le changement (Analyse des processus de gestion documentaire 5000 documents,
    gestion des demandes de changement, des déviations, actions correctives et préventives, des plans de formation)</p>
  <p><b>Ecoute et analyse les freins et les résistances</b> pour les atténuer.</p>
  <p><b>Coordination et mise à jour des documents associés</b> Modes opératoires et procédures.</p>
  <p><b>Elaboration du plan de communication</b> auprès de la direction, des managers et des utilisateurs.</p>
  <p><b>Elaboration du plan de formation</b> (480 personnes).</p>
  <p><b>Faire du reporting</b>  auprès de la direction.</p>

</div>
