.titre{
  margin: 50px;
  text-align: center;
  color: #3498db;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}

.bouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}
button{
  background-color:#3498db;
  color: white;
  font-size: 20px;
}
.icon{
  margin-left: 20px;
  color: white;
}
.chart{
  width: 60%;
}
.diagramme{
  margin-top: 20px;
}
.formulaire input{
  margin-bottom: 20px;
  border-color: #5156ff;
  width: 280px;
}
#personnelle,#personnelle2{
border-color: rgba(193, 28, 199, 1);
  background-color: rgba(193, 28, 199, 0.3);
}
#sante,#sante2{
  border-color:rgba(29, 4, 255,1);
  background-color: rgba(29, 4, 255,0.3);
}
#famille,#famille2{
  border-color:rgba(25,193 ,13, 1);
  background-color: rgba(25,193 ,13, 0.3);
}

#professionne,#professionne2{
border-color: rgba(255, 213, 4, 1);
  background-color: rgba(255, 213, 4, 0.3);
}

#social1,#social2{
  border-color:rgba(255, 4, 4, 1);
  background-color: rgba(255, 4, 4, 0.3);
}

h2{
  text-align: center;
  color:  #3498db;
  margin-top: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin-top:30px;
  margin-left: 50px;
  margin-right: 50px;

}
.editor{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.contenu p{
  margin-top:20px;
  font-family: 'Poiret One', cursive;
  margin-left: 0;

}
.btn{
  margin-top: 20px;
}

.resultat .diagramme {
  margin-top: 30px;

}
.choix .item{
  margin-top: 30px;
  margin-bottom: 30px;
}

.message{
  font-family: 'Poiret One', cursive;
  color: red;
}
.domaine{
  color: #e52d27;
}
.olDomaine{
  list-style-type: none;
}

.image{
  float: right;
}
h4{
  color: green;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin-top: 30px;
  text-decoration: underline;
}
.haut{
  margin-left: 50px;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-width:50%;
  color: #3498db;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
}
.button-container{
  float: right;
}
.bouton{
  margin-top: 20px;
}
