.porteFolio{
  margin-bottom: 50px;
}
.titre{
  margin: 50px;
  text-align: center;
  color: #3498db;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.ficheCompetence{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}


.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}
mat-radio-button{
  margin-right: 10px;
}

.table{
 width: 90%;
  height: auto;
}

p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 20px 20px;
}

.colone,.savoir{
  font-family: 'Poiret One', cursive;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #3498db;
}
h3{
  font-family: 'Poiret One', cursive;

  font-size: 20px;
  color: white;
  text-align: center;
  background-color:#3498db;
  margin-right:30%;
  margin-left:30%;
}

.form{
  margin-left: 100px;
  margin-bottom: 20px}

.btn{
  margin-top: 10px;
  margin-left: 10px;
}

.btn-warning{
 margin-left: 20px;

}
.select{
  width: 90%;
  height: auto;
}

/*contexte/objectifs/process*/
.selection{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 50px;
  text-align: center;
}
.bndream{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.label{
  display: flex;
  flex-direction: column;
}

.imgcontexte{
  float: left;
  height: 20%;
}
.item{
  border: solid 1px grey ;

}
.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}

.bndream .item{
  border: solid 1px green;
  padding: 20px;
  border-radius: 10px;
  width: 70%;}

.bndream p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 50px;}

.liObjectif ul{
  list-style-type: disc;
}

.liObjectif li{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 2em;
  margin-left: 30px;
}
.bndream h4{
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 50px;}

.para{
  color: green;
}
/*contexte/objectifs/process*/
