.titre{
  margin: 50px;
  text-align: center;
  color: #3498db;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}
mat-radio-button{
  margin-right: 10px;
}

.table{
  margin:50px;
  width: 80%;
  height: auto;
}

p{
  font-family: 'Poiret One', cursive;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.colone,.savoir{
  font-family: 'Poiret One', cursive;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #3498db;
}
h3{
  font-family: 'Poiret One', cursive;

  font-size: 20px;
  color: white;
  text-align: center;
  background-color:#3498db;
  margin-right:30%;
  margin-left:30%;
}
