<h1 class="titre" id="haut">Organiser sereinement sa recherche d’emploi</h1>
<div class="selection">
  <div class="clic">
    <button class="contexte" (click)="contexte()">Contexte</button>
    <button class="objectif" (click)="objectif()">Objectifs</button>
    <button class="process" (click)="process()">Process</button>
  </div>
</div>
<div class="text">
  <p>Bien organiser sa recherche d’emploi, c’est essentiel !</p>
  <p>De la recherche d’informations pour se positionner efficacement sur le marché du travail à l’étape ultime
    «être retenu.e sur le poste de ses rêves », il est IMPORTANT d’organiser sereinement vos recherches.</p>
  <p>L’idée est de ne pas s’éparpiller, de construire un tableau de bord avec des actions à réaliser et des objectifs
    à tenir jour après jour.</p>
  <p>N’oubliez pas, rechercher votre futur emploi est un emploi à temps plein qui demande beaucoup d’énergie et
    d’enthousiasme parce qu’il faut toujours y croire. Il y a toujours quelqu’un qui nous attend quelque part !
    Encore faut-il le chercher pour le trouver !  </p>
  <p>Et il y a toujours un temps pour tout : un temps pour le travail et un temps pour soi alors dans cette organisation
    octroyez vous un temps pour vous faire du bien.</p>
</div>
<h4>VIDEO ORGANISER SEREINEMENT SA RECHERCHE D’EMPLOI</h4>
<div class="container">
  <video width="500" height="300" controls>
    <source [src]="organisation" type="video/mp4">
  </video>
</div>
