<h1 class="titre" id="haut">Faire son CV</h1>
<div class="selection">
  <div class="clic">
    <button class="contexte" (click)="contexte()">Contexte</button>
    <button class="objectif" (click)="objectif()">Objectifs</button>
    <button class="process" (click)="process()">Process</button>
  </div>
</div>
<div class="text">
  <p>Le CV est comme une publicité de vous-même et de votre parcours professionnel et scolaire.</p>
  <p>L’objectif du Cv est de vous mettre en lumière en mettant en avant votre parcours, vos compétences, qualités et
    bien d’autres atouts.</p>
  <p>C’est un outil incontournable pour vous faire connaître auprès des acteurs de l’emploi et de la formation et pouvoir
    intégrer l’école ou l’entreprise de votre choix.</p>
  <p>Découvrez la vidéo ci-dessous qui vous délivre tous les secrets sur le Cv professionnel et la méthode pas à pas pour
    créer le vôtre.</p>
</div>
<h4>VIDEO COMMENT CREER SON CV</h4>
<div class="container">
  <video width="500" height="300" controls>
    <source [src]="cv" type="video/mp4">
  </video>
</div>
<h4>Un modèle de CV Simple, facile et rapide
</h4>
<div class="container" *ngIf="clientConnect">
<button class="btn btn-success" routerLink="/newCv/monCv">CREER SON CV</button>
</div>
