.titre{
  margin: 50px;
  text-align: center;
  color: #3498db;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}

.bouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}
button{
  background-color:#3498db;
  color: white;
  font-size: 20px;
}
.icon{
  margin-left: 20px;
  color: white;
}
h2{
  text-align: center;
  color:  #3498db;
  margin-top: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 50px;

}
.iconHero{
  color: #3498db;
}
.motHero{
  font-family: 'Poiret One', cursive;
  color: #3498db;
  font-size: 20px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
ul{
  list-style-type: none;
  margin-bottom: 50px;

}
.resultaHero{
  text-align: center;
}
li{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 2em;
}
h1{
  color: orange;
}

