/*
Global
*/
.heading-site{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}


/*
HEADER
*/

.header{

    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    position:fixed;
    z-index: 999;

}

.header .header-logo{
    float: left;
    margin-left: 30px;
}

.header .header-menu{
    font-size:large;
    float: right;
    margin-right:30px ;
}



.header .header-menu a{
    margin-right: 15px;
    color: white;
}

.header .header-menu a:hover{
    color: #3498db;
}

/*
BANNER
*/

.banner {
     margin-top: -20px;
 }

.banner .banner-image{
    position: relative;
}


.banner .banner-content{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%
}

.banner .banner-content h1,
.banner .banner-content h2{
    color: #ffffff;
}

.test .test-image{
    position: relative;
    height: 400px;
    width: 600px;
    margin-left: 200px;

}
.test .test-texte{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%
}



/*
ABOUT
*/


.about .about-sigle-element {
    text-align: center;
    margin-left: 100px;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;

}

.about .about-sigle-element p {
    text-align:  left;
    margin-top: 20px;

}
about .about-sigle-element h1 {
    text-align: left ;


}
.icon-apropos {

    color: #F8080C;
    font-size: 2em;
    border-radius: 100px;
    border-color:#F8080C;
    border-style: dashed;

}

/*
footer
*/

.footer .footer-contact-informations{
    text-align: center;
    margin-top: 30px;
}

.footer .footer-contact-informations ul{
    padding: 0;
}

.footer .footer-contact-informations ul li{
    display: inline-block;
    list-style-type: none;}

/*
responsive exemple
*/

@media screen and (max-width: 640px) {
    #open_modal {
        display: none;

    }
}

