<div class="carousel slide" data-ride="carousel" id="haut" *ngIf="allPhotoFicheMetier">
  <div class="carousel-inner " >
    <a class="active" (click)="clic(idCarrousel)">
      <img class="photoFicheMetier1" [src]="photoCarrousel" >
    </a>
    <label>{{metierDico}}</label>
  </div>

  <!-- Left and right controls -->
  <a  *ngIf="idCarrousel>1" class="left carousel-control" (click)="page('-')" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only" >Previous</span>
  </a>

  <a *ngIf="idCarrousel<allPhotoFicheMetier.length-1" class="right carousel-control" (click)="page('+')" data-slide="next"  >
    <span class="glyphicon glyphicon-chevron-right" *ngIf="idCarrousel<allPhotoFicheMetier.length-1"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container" *ngIf="selecMetier">
  <table class="table table-hover" >
    <thead>
    <tr>
      <th>Métier</th>
    </tr>
    </thead>
    <tbody *ngFor="let m of ficheCaroussel"  >
    <tr >
      <td (click)="selectFicheMetier(m.id)">{{m.metier}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!--<div class="">
<div  *ngFor="let all of photoFicheMetier">
    <a class="active">
      <img class="photos" [src]="all" >
    </a>
    <label></label>
</div>
</div>-->
  <div class="container" *ngIf="fichedetail"  >
    <div class="item photo" id="ficheMetier">
      <img class="photoFicheMetier" [src]="photoCarrousel">
    <h1 class="metier">{{FicheMetier.metier}}</h1>
    </div>
    <div class="item texte">
      <p>{{FicheMetier.texte}}</p>
    </div>

    <div class="item">
      <h2>Compétences requises :</h2>
      <ul *ngFor="let c of competences " >
        <li >{{c}}</li>
      </ul>
    </div>

   <div class="item">
      <h2>Eléments de personnalité :</h2>
  <ul *ngFor="let q of qualites ">
        <li  >{{q}}</li>
      </ul>
    </div>

</div>
