.titre{
  margin: 50px;
  text-align: center;
  color: #3498db;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item{
  border: solid 1px #3498db;
  padding: 20px;
  border-radius: 10px;
}

.bouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}
button{
  background-color:#3498db;
  color: white;
  font-size: 20px;
}
.icon{
  margin-left: 20px;
  color: white;
}
table {
  width: 100%;
}

.photos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}



.ItemPhoto input{
  width: 10%;
  border:solid #3498db;
  border-radius: 20px;

}
.photo{
  width: 15%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}



h2{
  text-align: center;
  color:  #3498db;
  margin-top: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 50px;

}
.btn{
  margin: 50px;
  border-radius: 20px;
}
.editor{
  margin-top: 50px;
  width: 50%;
}

.editorBlock{
  margin-left: 200px;
}

.resultat{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.action{
  text-align: center;
}
.photIntero{
  opacity: 0.7;
  border: 1px solid #3498db;
}
