<div *ngIf="!photolangageValide" >
<h1 class="titre">Photolangage</h1>
<div class="container">
  <div class="item">
    <h2>Contexte</h2>
  </div>
  <div class="item">
    <h2>Objectifs</h2>
  </div>
  <div class="item">
    <h2>Résultats</h2>
  </div>
</div>



<div class="bouton" *ngIf="!dedutTestPhotolangage">
  <button mat-raised-button (click)="getImageList(2) ; testPhotolangage() " >Démarrer<mat-icon class="icon">send</mat-icon></button>
</div>


<div class="photos" *ngIf="dedutTestPhotolangage &&!partie2">
  <div class=" photos ItemPhoto" *ngIf="!partie1">
    <h2>1ère phase : Situation actuelle</h2>
    <p>Vous avez 50 photos ci-dessous à votre disposition. Choisissez les 3 photos qui évoquent votre situation actuelle
      , d’un point de vue personnel et/ou professionnel en cliquant dessus. Ce choix vous est propre ; il n’y a pas de
      bons ou mauvais choix, les photos doivent venir à vous en fonction de ce qu’elles représentent à vos yeux.
      Une fois sélectionnées, inscrivez les 3 mots que vous inspirent les photos choisies.
    </p>
  </div>
  <div class="photos ItemPhoto" *ngIf="partie1&&!partie2">
    <h2>2ème phase : Situation désirée</h2>
    <p>Ensuite, il vous faudra choisir 3 autres photos qui représentent votre situation future rêvée. Qu’est-ce qui vous
      inspire ? Vers quoi voulez-vous aller ? Quelle vie rêvez-vous de vivre ? A quoi aspirez-vous ? En réfléchissant à
      ces questions, écrivez 3 mots pour chaque image choisie, suivant ce qu’elles représentent pour vous.</p>
  </div>

  <div class="boutonImage" >
    <button mat-raised-button *ngIf="imageId1<=1" disabled="disabled"><mat-icon class="icon">navigate_before</mat-icon></button>
    <button mat-raised-button *ngIf="imageId1>1" (click)="getImageList(0) "><mat-icon class="icon">navigate_before</mat-icon></button>
  </div>
  <img  (click)="imageClientChoix(imageId1)" class="photo" [src]="retrievedImage1">
  <img (click)="imageClientChoix(imageId2)" class="photo" [src]="retrievedImage2">
  <img (click)="imageClientChoix(imageId3)" class="photo" [src]="retrievedImage3">
  <img (click)="imageClientChoix(imageId4)" class="photo" [src]="retrievedImage4">
  <img (click)="imageClientChoix(imageId5)" class="photo" [src]="retrievedImage5">
  <div class="boutonImage">
    <button mat-raised-button *ngIf="imageId5>=60" disabled="disabled"><mat-icon class="icon">navigate_next</mat-icon></button>
    <button mat-raised-button *ngIf="imageId5<60" (click)="getImageList(1) "><mat-icon class="icon">navigate_next</mat-icon></button>
  </div>

</div>
<form [formGroup]="formPhotoLangage"  (ngSubmit)="onSavePhotoLangage()" *ngIf="dedutTestPhotolangage">
  <div  *ngIf="!partie1" class="photos ItemPhoto" >
  <img *ngIf="!retrievedImageClient1" class="photo photIntero" [src]="photoInterog" >
  <img *ngIf="!retrievedImageClient2" class="photo photIntero" [src]="photoInterog" >
  <img *ngIf="!retrievedImageClient3" class="photo photIntero" [src]="photoInterog" >
  </div>
  <div  *ngIf="!partie1" class="photos ItemPhoto" >
  <img  (click)="imageDeleteChoix(1)" class="photo" [src]="retrievedImageClient1" >
  <input *ngIf="mot1" formControlName="mot1" class="form-control" type="text" >
  <img (click)="imageDeleteChoix(2)" class="photo " [src]="retrievedImageClient2">
  <input *ngIf="mot2" formControlName="mot2" class="form-control" type="text" >
  <img (click)="imageDeleteChoix(3)" class="photo" [src]="retrievedImageClient3">
  <input *ngIf="mot3" formControlName="mot3" class="form-control" type="text" >
  <button class="btn btn-success " *ngIf="!partie1&&retrievedImageClient1!=null&&retrievedImageClient2!=null&&retrievedImageClient3!=null" (click)="validePartie1()">Je valide mes photos</button>
  </div>

  <div *ngIf="partie1&&!partie2" class="photos ItemPhoto"  >
  <img *ngIf="!retrievedImageClient4" class="photo photIntero" [src]="photoInterog" >
  <img *ngIf="!retrievedImageClient5" class="photo photIntero" [src]="photoInterog" >
  <img *ngIf="!retrievedImageClient6" class="photo photIntero" [src]="photoInterog" >
  </div>
  <div *ngIf="partie1&&!partie2" class="photos ItemPhoto"  >
    <img  (click)="imageDeleteChoix(4)" class="photo" [src]="retrievedImageClient4">

    <input *ngIf="mot4" formControlName="mot4" class="form-control" type="text" >
    <img (click)="imageDeleteChoix(5)" class="photo" [src]="retrievedImageClient5">

    <input *ngIf="mot5" formControlName="mot5" class="form-control" type="text" >
    <img (click)="imageDeleteChoix(6)" class="photo" [src]="retrievedImageClient6">

    <input *ngIf="mot6" formControlName="mot6" class="form-control" type="text" >

    <button class="btn btn-success " *ngIf="!partie2&&retrievedImageClient4!=null&&retrievedImageClient5!=null&&retrievedImageClient6!=null" (click)="validePartie2()">Je valide mes photos</button>
  </div>
  <div *ngIf="partie2">
    <h2>3ème phase : Actions</h2>
    <div class="editorBlock">
    <p>Qu'est-ce que vous pouvez mettre en place pour atteindre la situation désirée ?</p>
      <img [src]="photoObjectif" >
      <p>Exprimez-vous ci-dessous en laissant libre court à votre état d’être, en étant à l’écoute de vos besoins et
        étant en cohérence avec vous-même.</p>
    <div  class="editor">
    <ckeditor  [editor]="Editor" data="{{photoLangage.expression}}"  (change)="onChange($event)"></ckeditor>
    </div>
    <button class="btn btn-success" type="submit">Enregistrer</button>
  </div>
  </div>
</form>
</div>
<div *ngIf="photolangageValide">
  <h2>Votre situation actuelle</h2>
<div class="photos ItemPhoto"  >
<img [src]="retrievedImageClient1" class="photo">
  <p>{{choixMot1}}</p>
<img [src]="retrievedImageClient2" class="photo">
  <p>{{choixMot2}}</p>
<img [src]="retrievedImageClient3" class="photo">
  <p>{{choixMot3}}</p>
</div>
  <h2>Votre situation désirée</h2>
<div class="photos ItemPhoto">
  <img [src]="retrievedImageClient4" class="photo">
  <p>{{choixMot4}}</p>
  <img [src]="retrievedImageClient5" class="photo">
  <p>{{choixMot5}}</p>
  <img [src]="retrievedImageClient6" class="photo">
  <p>{{choixMot6}}</p>
</div>
  <div *ngIf="texte" class="action">
    <h2>Les actions à mener pour atteindre la situation désirée</h2>
  <p  [innerHTML]="texte" ></p>
  </div>
 <button class="btn btn-success" routerLink="/BnDeamTest">Retour au tests</button>
</div>
