<h1 class="titre">PRAICO</h1>
<div *ngIf="!qcm4Valide">
<div class="container">
  <div class="item">
    <h2>Contexte</h2>
  </div>
  <div class="item">
    <h2>Objectif</h2>
  </div>
  <div class="item">
    <h2>Résultat</h2>
  </div>
</div>
<div class="bouton">
  <button *ngIf="!qcmRun&&!qcm1Valide&&autoPortraitValide" (click)="qcm()" mat-raised-button >Démarrez <mat-icon class="icon">send</mat-icon></button>
</div>

<div class="container">
  <div *ngIf="!qcm1Valide&&qcmRun">
  <h2>Questionnaire n°1 – Comment vous décririez-vous ? (5 minutes)</h2>
  <p>Trente propositions vont vous être présentées. Pour chacune d’entre elles, choisissez la réponse correspondante
    le plus à votre état d’esprit. Répondez de manière rapide et spontanée. Il n’y a pas de bonnes ou de mauvaises
    réponses. </p>
  <ul class="item select">
    <li class="question">{{questionnaire1.question}}</li>
    <li class="reponse" (click)="qcmClientChoix(questionnaire1.code1)" >{{questionnaire1.reponse1}}</li>
    <li class="reponse" (click)="qcmClientChoix(questionnaire1.code2)" >{{questionnaire1.reponse2}}</li>
  </ul>
    <p class="numero" >{{qcm1Id}}</p>

  </div>
  <div *ngIf="qcm1Valide&&!qcm2Valide">
    <h2>Questionnaire n°2 – Quelles activités et environnements préférez-vous ? (7 minutes)</h2>
    <p>Sélectionnez par oui ou par non ce qui vous correspond le plus. Quel type d’environnement de travail aimez-vous en particulier ?</p>
    <ul class="item select">
      <li class="question">{{questionnaire2.question}}</li>
      <li class="reponse" (click)="qcmClientChoix(questionnaire2.profile)" >Oui</li>
      <li class="reponse" (click)="qcm2ClientChoix()" >Non</li>
    </ul>
    <p class="numero" >{{qcm1Id}}</p>

  </div>
  <div *ngIf="qcm2Valide&&!qcm3Valide">
    <h2>Questionnaire n°3 – Quels sont vos loisirs ? (7 minutes)</h2>
    <p>Sélectionnez par oui ou par non les loisirs qui vous correspondent le plus. ?</p>
    <ul class="item select">
      <li class="question">{{questionnaire2.question}}</li>
      <li class="reponse" (click)="qcmClientChoix(questionnaire2.profile)" >Oui</li>
      <li class="reponse" (click)="qcm3ClientChoix()" >Non</li>
    </ul>
    <p class="numero" >{{qcm1Id}}</p>

  </div>
  <div *ngIf="qcm3Valide&&!qcm4Valide">
    <h2>Questionnaire n°3 – Quels sont vos loisirs ? (7 minutes)</h2>
    <p>Sélectionnez par oui ou par non les loisirs qui vous correspondent le plus ?</p>
  <table class="table table-striped">

    <thead>
    <mat-checkbox [formControl]="initform"  (click)="init()" >Réinitialiser</mat-checkbox>
    <mat-checkbox  class="valide" *ngIf="selection==5"  (change)="qcm4ClientChoix()">Valiser</mat-checkbox>
    <tr>
      <th>Métier</th>
      <th>Selection</th>
    </tr>
    </thead>
    <tbody *ngFor="let list of qucm4">
    <tr *ngIf="list.metier">
      <td>{{list.metier}}</td>
      <td> <mat-checkbox [formControl]="form"  value="{{list.lettres}}"  (change)="onChange($event)"></mat-checkbox></td>

    </tr>
    </tbody>
  </table>

 <!--<form [formGroup]="formQcm4"  (ngSubmit)="onSaveQcm4()" >
   <label>Metier</label>
   <input formControlName="metier" class="form-control" type="text" >
   <label>lettre 1</label>
    <input formControlName="lettre1" class="form-control" type="text" >
   <label>lettre 2</label>
    <input formControlName="lettre2" class="form-control" type="text" >
   <label>lettre 3</label>
    <input formControlName="lettre3" class="form-control" type="text" ><br><br><br>

    <button class="btn btn-success " type="submit">Je valide</button>
  </form>-->
  </div>
</div>
</div>
<div *ngIf="qcm4Valide">
  <h2>Résultat:</h2>
  <p>Voici les profils qui vous correspondent le plus. Les lire vous permettra de mieux comprendre vos forces et les
    métiers adaptés à votre personnalité. Pour un bilan plus détaillé, nous vous invitons à prendre contact avec nos
    psychologues du travail. Ils sauront vous expliquer vos résultats et vous conseiller. Ils pourront également vous
    donner des informations sur les autres profils. Une occasion rêvée pour trouver le métier de vos rêves !</p>
  <div>
    <h2>Le cercle des compétences</h2>
    <p>Ce schéma permet d’observer les proximités et les oppositions entre les différents profils.
      Plus vos trois profils principaux sont proches et plus ils se renforcent entre eux.</p>
    <h3>Vous êtes dans… </h3>
    <div class="container">
      <div class="image" >
      <img  [src]="praico">
      </div>
      <div class="radar">
        <canvas baseChart
                [datasets]="radarChartData"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [chartType]="radarChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="">
<h4>Interprétations liées au test :</h4>
  <div class="globe">
  <img  [src]="globe">
</div>

  <h3>LE PROFIL PRATIQUE </h3>
<p>D’après vos résultats, vous correspondez plus à un profil de type « Pratique ». Ce type de profil est plus orienté
  sur des activités dites « tangibles », avec l’utilisation d’outils et de machine.
  Vous semblez être moins attiré.e par les activités basées sur les relations humaines, telles que l’enseignement ou
  encore les soins. Vous vous sentez bien plus à l’aise dans l’action immédiate plutôt que dans la conversation.
  Par ailleurs, les échanges sociaux ne sont pas vraiment votre centre d’intérêt principal. D’ordre général, les
  autres personnes vous juge comme sincère. Vous êtes vu.e comme une personne sérieuse, pragmatique et appréciant
  les résultats directs sur vos actions. Il est important à vos yeux que votre travail soit récompensé à sa juste valeur.
  Vous appréciez la liberté d’action, faites preuve d'ambition et de contrôle sur soi.
</p>
  <h4>Différents traits de personnalité ressortent de votre profil :</h4>
  <h3>Points forts :</h3>
  <ul>
    <li>❖	Pragmatique</li>
    <li>❖	Matérialiste</li>
    <li>❖	Conformiste</li>
    <li>❖	Inflexible</li>
    <li>❖	Réaliste</li>
    <li>❖	Réservé.e</li>
    <li>❖	Naturel.le</li>
    <li>❖	Sincère</li>
   <li>❖	Persévérant.e</li>
    <li>❖	Organisé.e, précis.e, clair.e</li>
    <li>❖	Rigoureux.se et efficace</li>
    <li>❖	Autonome</li>
    <li>❖	Impliqué.e</li>
  </ul>

</div>
